c/* TEXT IN CSS */


/* FONT-FAMILY, changes the font of the text, if font is long use "quotes" , if there are multiple fonts, use commas */

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif
}

.pars {
    font-family: 'Courier New', Courier, monospace;
}

#parin {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

/* FONT-SIZE, changes the size of the font, there are pixel sizes, percentage sizes, em sizes and others */

#fontpixel {
    font-size: 20px;
}

#fontpercentage {
    font-size: 250%;
}

#fontems {
    font-size: 1.5em;
}

/* FONT from web, allows you to use fonts that arent installed on the pc, by making them download through a 
server, link the server with html code in the head */

#fontfromweb1{
 
    font-family: 'DeGermLoCaseRegular';
 
}
#fontfromweb2 {
    font-family: 'CactronRegular';

}


/* FONT-WEIGHT, */

.fontweight {
    font-weight: bold;

}

#fw2 {
    font-weight: normal;
    
}

#fw3{
    font-weight: bolder;
}

/* FONT-STYLE, is either normal, italic or oblique, italic needs a style, oblique is bent to the side (basically the same) */


#font-style1{
    font-style: normal;
}

#font-style2{
    font-style: italic;
}

#font-style3{
    font-style: oblique;
}

/* TEXT-TRANSFORM, tranforms the text, into UPPERCASE, LOWERCASE or CAPITALIZE(Make First Letter Of Every Word Big) */

#initiallynocaps{
    text-transform: uppercase;
}

#initiallycaps{
    text-transform: lowercase;
}

#initiallynocapitalize{
    text-transform: capitalize;
}

/* TEXT-DECORATION, NONE attribute for no decorations, UNDERLINE for underline, OVERLINE for overline, LINE-THROUGH for
a line through  */

.textdeco{
    text-decoration: none;
}

#underline{
    text-decoration: underline;
}

#overline{
    text-decoration: overline;
}

#line-through{
    text-decoration: line-through
}

/* LINE-HEIGHT, is the height of the words, LEADING (LEDDING) is space between the top lines descender and the bottom
lines ascender. */


.lineheight{
    line-height: normal;
}

#lh{
    line-height: normal;
    outline: auto;
}

#lh1{
    line-height: 0.5em;
    outline: auto;

}

#lh2{
    line-height: 2em;
    outline: auto;

}


/* LETTER-SPACING, WORD-SPACING , letter-spacing or kerning is space between letters generally used in headings, 
word-spacing is for spacing between the words */

#letterspacing1 {
    letter-spacing: 40px;
}

#letterspacing2 {
    letter-spacing: 15em;
}

#letterspacing3 {
    letter-spacing: 15vh;
}


#letterspacing1 {
    letter-spacing: 10px;
}

#letterspacing2 {
    letter-spacing: 1.5em;
}

#letterspacing3 {
    letter-spacing: 10vh;
}



/* TEXT-ALIGN, to align the text like in MS OFFICE programs */

#left{
    text-align: left;
}

#right{
    text-align: right;
}

#center{
    text-align: center;
}

#justify{
    text-align: justify;

}

/* VERTICAL ALIGN, to align inline elements and text */

#va1{
    vertical-align: middle;
}

/* TEXT-INDENT, allows you to indent the first line of text within an element. */

#ti1{
    text-indent: 100px;
}

/* TEXT-SHADOW, is a shadow behind text, text-shadow: {1} {2} {3} {4}, 
        first value indicates how far to the left or right should the shadow fall,
        second value indicates the distance to the top or bottom that the shadow should fall
        third value is optional and specifies the amount of blur that should be applied to the drop shadow
        fourth value is the color of the shadow  */

#ts1{
    background-color: black;
    color: white;
    text-shadow: 1px 1px 0px #f900d3;
}

#ts2{
    background-color: rgb(144, 39, 39);
    color: white;
    text-shadow: 5px 5px 1px #000000;
}

#ts3{
    background-color: rgb(0, 21, 255);
    color: rgb(59, 186, 39);
    text-shadow: -5px -5px 1px #d9ff00;
}

#ts4{
    background-color: rgb(0, 221, 255);
    color: white;
    text-shadow: 2px 2px 2px #000000;
}

#ts5{
    background-color: rgb(255, 0, 136);
    color: rgb(7, 150, 23);
    text-shadow: -2px 5px 2px #b3ff00;
}


/* FIRST-LETTER, FIRST-LINE, pseudo elements */


p#flet::first-letter{
    color: #d9ff00;
    font-size: 150%;
}

p#fline::first-line{
    color: aqua;
    font-size: 250%;

}


/* PSEUDO CLASSES
    :link   - This allows you to set styles for links that have not yet been visited. 
    :visited- This allows you to set styles for links that have been clicked on.They are commonly used to control 
              colors of the links and also whether they are to appear underlined or not.
    :hover  - This is applied when a user hovers over an element with a pointing device such as a mouse.
              This has commonly been used to change the appearance of links and buttons when a user places
              their cursor over them.
    :active - This is applied when an element is being activated by a user; for example, when a button is being
              pressed or a link being clicked. Sometimes this is used to make a button or link feel more like it 
              is being pressed by changing the style or position of the element slightly.
    :focus  - This is applied when an element has focus. Any element that you can interact with, such as a
              link you can click on or any form control can have focus.
*/

a:link{
    color: #f900d3;
    text-decoration: none;
}

a:visited{
    color: green;
    text-decoration:underline;
}

a:hover{
    color: #d9ff00;
    text-decoration:underline;
}

a:focus{   
    color: #2f169e;
}

a:active{
    color: chartreuse;
}



